<div class="row no-margin footer-row">
    <div class="third-accent">
        Bestandsverträge
    </div>
    <div>
        <las-tick [isTicked]="customerContract.fund"></las-tick> Fonds
    </div>
    <div>
        <las-tick [isTicked]="customerContract.finance"></las-tick> Finanzen
    </div>
    <div>
        <las-tick [isTicked]="customerContract.life"></las-tick> Leben
    </div>
    <div>
        <las-tick [isTicked]="customerContract.health"></las-tick> Kranken
    </div>
    <div>
        <las-tick [isTicked]="customerContract.accident"></las-tick> Unfall
    </div>
    <div>
        <las-tick [isTicked]="customerContract.liability"></las-tick> Haftpflicht
    </div>
    <div>
        <las-tick [isTicked]="customerContract.property"></las-tick> Sach
    </div>
    <div>
        <las-tick [isTicked]="customerContract.legal"></las-tick> Recht
    </div>
    <div>
        <las-tick [isTicked]="customerContract.car"></las-tick> Kfz
    </div>
</div>
