.no-margin {
    margin: 0;
    padding: 0;
}

.search-form .input-group {
    padding-right: 15px;
    padding-left: 15px;
}

.search-form .form-group {
    margin-bottom: 0;
}

.clickable {
    cursor: pointer;
}
